* {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
}


/* styling for table on main page */
.table-title {
  padding-bottom: 30px;
  text-decoration: underline;
  color: #00caff;
  color: #51ecc3;
}

.table-row1{
  color: '#51ecc3'
}

.b2c {
  width: 35px;
  background-color: #ff3500;
  color: white;
  border: none;
  cursor: default;
  border-radius: 4px;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-right: 5px;
}

.b2b {
  width: 35px;
  background-color: #b500ff;
  color: white;
  border: none;
  cursor: default;
  border-radius: 4px;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-right: 5px;
}

.year-container {
  display: flex;
  flex-direction: column;
}

.year-num {
  width: 45px;
  background-color: #00caff;
  color: white;
  border: none;
  cursor: default;
  border-radius: 4px;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.stage-table-container {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.stage-table {
    height: 20px;
    width: 20px;
    font-weight: bold;
    border-radius: 1px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-right: 5px;
    padding-top: 2px;
    font-size: 13px;
}

/* popup card styling */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: 0,0,0,0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.popup-inner {
  position: relative;
  width: 100%;
}

.card-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popup-item {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.popup-item-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  font-style: italic;
  text-decoration: underline;
}

.popup-item-text {
  font-size: 18px;
}

.popup-row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 10px 10px 10px;
}
.popup-row2 {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  justify-content: space-around;
  padding: 30px 0px 50px 10px;
}

.popup-item-row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 20px;
}

.plan-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: scale(1.2);
  padding-left: 5px;
  padding-right: 5px;
}

.test {
  transform: scale(1.5);
}

.stage-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.stage-default {
  height: 30px;
  width: 30px;
  border: none;
  font-weight: bold;
}

.stage-highlighted {
  height: 30px;
  width: 30px;
  border: 4px solid #43d5b3;
  font-weight: bold;
}

.stars-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  padding-top: 5px;
}

.stars-popup {
  transform: scale(1.3);
  padding-left: 5px;
  padding-right: 5px;
}

.stars-table {
  transform: scale(1.0);
  padding-left: 5px;
  padding-right: 5px;
}

/* specific styling for radial graphs that display %s */
.popup-row-radial {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.popup-row-radial-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.radial-titles {
  font-size: 18px;
  font-weight: bold;
}

#radial-container {
  width: 300px;
  height: 275px;
  position: relative;
}

.ind-radial-container {
  margin-left: 40px;
}

#radial,
#percentage {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
  bottom: 200;
  left: 0;
}

#percentage {
  z-index: 10;
  margin-top: 100px;
}

.percentage-styling {
  font-size: 20px;
}

#percentage-text {
  z-index: 10;
  margin-top: 10px;
}

.radial-title {
  font-size: 20px;
  font-weight: bold;
  padding-right: 70px;
  font-style: italic;
  text-decoration: underline;
}

.radial-left-spacer {
  margin-left: 0px;
}

.radial-mid-spacer {
  margin-right: 50px;
}

.radial-right-spacer {
  margin-right: 100px;
}

/* Line & Bar Chart */

.barchart-container{
  height: 200px;
  width: 90%;
}

.linechart-container{
  height: 300px;
  width: 90%;
}

.chart-title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
}


/* bar text */
.messages-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}


#messages-title {
  margin-bottom: 10px;
  align-self: center;
  width: 40%;
  cursor: default;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  padding: 2px;
}

.message {
  padding: 3px 0px;
  display: list-item;
  text-align: left;
}

.probability-message {
  text-align: center;
  font-size: 18px;
  padding-top: 15px;
}

.bar-header-container {
  margin-left: 70px;
  margin-right: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bar-x-default {
  width: 15%;
  border-radius: 0px;
  cursor: pointer;
  padding: 2px;
  border: 1px solid white;
}

/* needed classes on divs for hover affect alone */
.strongN-default {

}
.mediumN-default {

}
.weakN-default {

}
.weakP-default {

}
.mediumP-default {

}
.strongP-default {

}
.strongN-default:hover {
  background-color: #fa4f2d;
  cursor: pointer;
}

.strongN-highlight {
  width: 15%;
  background-color: #fa4f2d;
  cursor: pointer;
}

.mediumN-default:hover {
  background-color: #fa6b4a;
  cursor: pointer;
}
.mediumN-highlight {
  width: 15%;
  background-color: #fa6b4a;
  cursor: pointer;
}

.weakN-default:hover {
  background-color: #fa856a;
  cursor: pointer;
}
.weakN-highlight {
  width: 15%;
  background-color: #fa856a;
  cursor: pointer;
}

.weakP-default:hover {
  background-color: #65bc8e;
  cursor: pointer;
}

.weakP-highlight {
  width: 15%;
  background-color: #65bc8e;
  cursor: pointer;
}

.mediumP-default:hover {
  background-color: #40ae77;
  cursor: pointer;
}

.mediumP-highlight {
  width: 15%;
  background-color: #40ae77;
  cursor: pointer;
}

.strongP-default:hover {
  background-color: #02a060;
  cursor: pointer;
}

.strongP-highlight {
  width: 15%;
  background-color: #02a060;
  cursor: pointer;
}
