* {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  /* background-color: #dddddd; */
  height: 100vh;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: 0,0,0,0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.popup-inner {
  position: relative;
  /* padding: 32px; */
  width: 100%;
  /* background-color: #FFF; */
}

.card-head {
  display: flex;
  justify-content: space-between;
}

.align-right {
  /* justify-content: flex-end;
  align-self: flex-end; */
  justify-content: end;
}

.chart-container{
  height: 200px;
  width: 90%;
}

.linechart-container{
  height: 300px;
  width: 90%;
}

.test {
  color: pink;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popup-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px 10px;
}

.popup-row-radial-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
}

.popup-row-radial {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.radial-column-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-right: 80px; */
  /* padding-bottom: 100px; */
}

.radial-column-right {
  /* margin-right: 90px; */
}

.radial-titles {
  font-size: 18px;
  font-weight: bold;
}

.popup-item {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.popup-item-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.popup-item-title-radial {
  font-size: 18px;
  font-weight: bold;
}

.stage-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.stage-default {
  height: 30px;
  width: 30px;
  border: none;
  font-weight: bold;
}

.stage-highlighted {
  height: 30px;
  width: 30px;
  border: 4px solid #43d5b3;
  font-weight: bold;
}

.stars-container {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.star {
  transform: scale(1.3);
  padding-left: 5px;
  padding-right: 5px;
}

.messages-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

#messages-title {
  margin-bottom: 10px;
  align-self: center;
  width: 40%;
  cursor: default;
  font-size: 18px;
  font-weight: bold;
}

.message {
  padding: 3px 0px;
  display: list-item;
  text-align: left;
}

.probability-message {
  text-align: center;
  font-size: 18px;
  padding-top: 15px;
}

#container {
  width: 300px;
  height: 275px;
  position: relative;
}

.navi-test {
  margin-left: 40px;
}

#navi,
#infoi {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
  bottom: 200;
  left: 0;
}
#infoi {
  z-index: 10;
  margin-top: 100px;
}

.info-test {
  font-size: 20px;
  margin-bottom: 200px;
}





.bar-header-container {
  margin-left: 70px;
  margin-right: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.strongN-default {
  width: 15%;
  border-radius: 4px;
  cursor: pointer;
  border: '1px solid white';
}
.strongN-default:hover {
  background-color: #ca191d;
  cursor: pointer;
}
.strongN-highlight {
  width: 15%;
  border-radius: 4px;
  background-color: #ca191d;
  cursor: pointer;
}

.mediumN-default {
  width: 15%;
  border-radius: 4px;
  cursor: pointer;
}
.mediumN-default:hover {
  background-color: #fa6b4a;
  cursor: pointer;
}
.mediumN-highlight {
  width: 15%;
  border-radius: 4px;
  background-color: #fa6b4a;
  cursor: pointer;
}

.weakN-default {
  width: 15%;
  border-radius: 4px;
  cursor: pointer;
}
.weakN-default:hover {
  background-color: #fdbba0;
  cursor: pointer;
}
.weakN-highlight {
  width: 15%;
  border-radius: 4px;
  background-color: #fdbba0;
  cursor: pointer;
}

.weakP-default {
  width: 15%;
  border-radius: 4px;
  cursor: pointer;
}
.weakP-default:hover {
  background-color: #98d8c8;
  cursor: pointer;
}
.weakP-highlight {
  width: 15%;
  border-radius: 4px;
  background-color: #98d8c8;
  cursor: pointer;
}

.mediumP-default {
  width: 15%;
  border-radius: 4px;
  cursor: pointer;
}
.mediumP-default:hover {
  background-color: #40ae77;
  cursor: pointer;
}
.mediumP-highlight {
  width: 15%;
  border-radius: 4px;
  background-color: #40ae77;
  cursor: pointer;
}

.strongP-default {
  width: 15%;
  border-radius: 4px;
  cursor: pointer;
}
.strongP-default:hover {
  background-color: #006d2c;
  cursor: pointer;
}
.strongP-highlight {
  width: 15%;
  border-radius: 4px;
  background-color: #006d2c;
  cursor: pointer;
}





/* colors={['#ca191d', '#fa6b4a','#fdbba0', '#98d8c8','#40ae77', '#006d2c']} */
